.cls-frame11{
	position: relative;
	height: 100vh;
	background-color: #C5E0D4;
}

/*#A9F3FF*/

.illustrationContainerFrame11{
	position: absolute;
	height: 80vh;
	width: 40vw;
	margin-left: -20vw;
	left: 50%;
	bottom: 0%;
	background-color: ;
}

#frameElevenScreens{
	bottom: 10%;
	position: absolute;
	transition: transform 0.5s ease-in 0s;
}

.cls-message{
	position: relative;
	width: 100%;
	height: 20vh;
	background-color: yellow;
}

.frame11-1{fill:#31343c;}
.frame11-2{fill:#1b4c30;}
.frame11-3{fill:#cccec6;}
.frame11-4{fill:#c4d1d8;}
.frame11-5{fill:#9fa9ad;}
.frame11-6{fill:#c5e0d4;}
.frame11-7{fill:#eaefea;}
.frame11-8{fill:#f6cea1;}
.frame11-9{fill:#090e10;}
.frame11-10{fill:#160606;}
.frame11-11{fill:#71bca1;}
.frame11-12{fill:#c08154;}
.frame11-13{fill:#a6a3c1;}
.frame11-14{fill:#f2c599;}
.frame11-15{fill:#fff;}
.frame11-16{fill:#1b4d4a;}
.frame11-17{fill:#7b8699;}
.frame11-18{fill:#789b8e;}
.frame11-19{fill:#350f0f;}
.frame11-20{fill:#c5ddc6;}
.frame11-21{fill:#c1c1c1;}

#frameElevenScreens:hover{
	transform: translateY(30px);
}

#frameElevenScreens:hover .frame11-17{
	fill:#C5E0D4;
}