.cls-frame3{
	position: relative;
	height: 100vh;
	background-color: #C5E0D4;
	overflow: visible;
}

.illustrationContainerFrame3{
	position: absolute;
	top:5%;
	left: 20%;
	width: 30%;
	height: 80%;
	background-color: ;
	overflow: visible;
}

#frameThreeScreens{
	position: absolute;
	width:100%;
	top: 0%;
	overflow: visible;
}

.frame3-1{fill:#48505e;}
.frame3-2{fill:#160606;}
.frame3-3{fill:#c4d1d8;}
.frame3-4{fill:#9fa9ad;}
.frame3-5{fill:#31343c;}
.frame3-6{fill:#230b0a;}
.frame3-7{fill:#f2c599;}
.frame3-8{fill:#c08154;}
.frame3-9{fill:#fff;}
.frame3-10{fill:#7b8699;}
.frame3-11{fill:#3c121b;}
.frame3-12{fill:#a6a3c1;}

.frame3screen{
	opacity: 0;
	transition: transform 1s linear 0s;

}

.illustrationContainerFrame3:hover #frame3screen1{
	opacity: 100;
	transform: translate(20px, 20px);
}

.illustrationContainerFrame3:hover #frame3screen2{
	opacity: 100;
	transform: translate(45px, 45px);
}

.illustrationContainerFrame3:hover #frame3screen3{
	opacity: 100;
	transform: translate(80px, 80px);
}

.illustrationContainerFrame3:hover #frame3screen4{
	opacity: 100;
	transform: translate(160px, 160px);
}

.illustrationContainerFrame3:hover #frame3screen5{
	opacity: 100;
	transform: translate(300px, 300px);
}

.illustrationContainerFrame3:hover #frame3screen6{
	opacity: 100;
	transform: translate(500px, 500px);
}

