

.cls-frame1{
	position: relative;
	height: 100vh;
	background-color: #232323;
	overflow: hidden;
	margin: 0;
}

.illustrationContainer{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -45vw;
	margin-top: -45vh;
	width:90vw;
	height:90vh;
}

#frameOneScreens{
	position: absolute;
	height:100%;
	width: 100%;
}

.frame1-1{fill:#c7cedd;}
.frame1-2{opacity:0.22;}
.frame1-3{fill:#232323;}
.frame1-4{fill:#023f3c;}

.frame1-4:hover {
	fill: #C5E0D4;
}

