.cls-frame10{
	position: relative;
	height: 100vh;
	background-color: #000;
}

.illustrationContainerFrame10{
	position: relative;
	height: 70%;
	width: 100%;
	background-color: ;
	top: -10%;
}

#frameTenScreens{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: visible;
}

.frame10cloud{
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 15%;
	background-color: ;
}

#frameTenScreensCloud{
	position: absolute;
}

.frame10-1{fill:#7b8699;}
.frame10-2{fill:#023f3c;}

.frame10cloud-1{
	fill:none;
	stroke:grey;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:19.843px;}

.frame10-2:hover{
	fill: #C5E0D4;
}

#step{
	transition: transform 0.5s linear 0s;
}

#step-2{
	transition: transform 0.5s linear 0s;
}

#step-3{
	transition: transform 0.5s linear 0s;
}

#step-4{
	transition: transform 0.5s linear 0s;
}

#step-5{
	transition: transform 0.5s linear 0s;
}

#step-6{
	transition: transform 0.5s linear 0s;
}

#step-7{
	transition: transform 0.5s linear 0s;
}


#step:hover{
	transform: translateY(20px);
}

#step-2:hover{
	transform: translateY(20px);
}

#step-3:hover{
	transform: translateY(20px);
}

#step-4:hover{
	transform: translateY(25px);
}

#step-5:hover{
	transform: translateY(25px);
}

#step-6:hover{
	transform: translateY(30px);
}

#step-7:hover{
	transform: translateY(30px);
}