.cls-frame4{
	position: relative;
	height: 100vh;
	background-color: #031C1A;
	overflow: visible;
}

.illustrationContainerFrame4{
	position: absolute;
	right: 0%;
	width: 50%;
	height: 100%;
	background-color: ;
}

#frameFourScreens{
	position: absolute;
	top: 20%;
}
.frame4-1{fill:#023f3c;}
.frame4-2{fill:#9fa9ad;}
.frame4-3{fill:#f2faf6;}
.frame4-4{fill:#7b8699;}
.frame4-5{fill:#090e10;}
.frame4-6{fill:#48505e;}
.frame4-7{fill:#29343d;}
.frame4-8{fill:#a6a3c1;}
.frame4-9{fill:#585857;}
.frame4-10{fill:#c08154;}
.frame4-11{fill:#c4d1d8;}
.frame4-12{fill:#230b0a;}
.frame4-13{fill:#e2f2cd;}
.frame4-14{fill:#411b1f;}
.frame4-15{fill:#f2c599;}
.frame4-16{fill:#160606;}
.frame4-17{fill:#c4d2d6;}
.frame4-18{fill:#31343c;}
.frame4-19{fill:#fff;}

#screen{
fill: #C5E0D4}

#frameFourScreens:hover #rightPupil{
	transform: translate(-10px, -10px);
}

#frameFourScreens:hover #leftPupil{
	transform: translate(-10px, -10px);
}

#frameFourScreens:hover #screen{
	fill: #023f3c;
}