.cls-frame2{
	position: relative;
	height: 100vh;
	background-color: #282828;
	cursor: url(svg-cursor32px.png), pointer;
}


#leftEye{
	overflow: hidden;
}

#rightEye{
	overflow: hidden;
}


.illustrationContainerFrame2{
	position: absolute;
	height: 70vh;
	width: 70vh;
	margin-left: -35vh;
	left: 50%;
	bottom: 0%;
	background-color: ;
}

#frameTwoScreens{
	position: absolute;
	height: 100%;
	width: 100%;
}

.frame2WordContainer{
	position: relative;
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-columns: auto auto auto;
	box-sizing: border-box;
	opacity: 10%;
	bottom: 0;
	height: 100vh;
	background-color: ;
	
	font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.frame2WordContainerWord{
	box-sizing: border-box;
	border:10px solid #545454;
	padding: 10px;
	color: #545454;
}

.frame2WordContainerWord:hover{
	color: #C5E0D4;
	border:10px solid #C5E0D4;
}



.frame2-1{fill:#160606;}
.frame2-2{fill:#c4d1d8;}
.frame2-3{fill:#9fa9ad;}
.frame2-4{fill:#31343c;}
.frame2-5{fill:#48505e;}
.frame2-6{fill:#7b8699;}
.frame2-7{fill:#a6a3c1;}
.frame2-8{fill:#230b0a;}
.frame2-9{fill:#e2f2cd;}
.frame2-10{fill:#ecba81;}
.frame2-11{fill:#f2c599;}
.frame2-12{fill:#c08154;}
.frame2-13{fill:#411b1f;}
.frame2-14{fill:#023f3c;}
.frame2-15{
	fill:#f3f3f3;
	height: 200px;
	width: 200px;
	fill: white;
	border-radius: 50%;
	overflow: hidden;
}

.frame2pupil{
	height: 50px;
	width: 50px;
	fill: black;
	border-radius: 50%;
}
.frame2-14:hover {
	fill: #C5E0D4;
}

/* frame 2 pupil holder in pixels trial*/
.frame2pupilholder{
	position: absolute;
	background-color: black;
	height: 30px;
	width: 30px;
	border-radius:50%;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
}

/*.frame2pupilholder{
	position: absolute;
	background-color: black;
	height: 38%;
	width: 38%;
	border-radius:50%;
	top: 50%;
	left: 50%;
	margin-top: -19%;
	margin-left: -19%;
}*/
